<!doctype html>
{% load staticfiles %}
<html>
<head>
  <title>tzProblem</title>
  <meta charset=utf-8>
  <link rel=stylesheet href=https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css>
  <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.css>
</head>
<body>


<div>
  {% if articles %}
    Articles:
    {% for article in articles %}
      <p>{{article.pubDateTime|date:'Y-m-d H:i:s' }}</p>
    {% endfor %}
  {% endif %}
</div>

<form action="{% url 'main:main' %}" method=post>
  {% csrf_token %}
  {{articleForm.as_p}}  
  <input type=submit value=Submit>
</form>


<script src=https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js></script>
<script src=https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.js></script>

<script>
$('.datetimepicker').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'HH:mm:ss'});
</script>
</body>
</html>
